.weather{
  place-self: center;
  padding: 25px;
  border-radius:10px;
  background-image: linear-gradient(45deg, #ff7e5f, #feb47b);
  display:flex;
  flex-direction:column;
  align-items:center;
  top:80%;
}

.search-bar{
  display:flex;
  align-items:center;
  gap:12px;
}

.search-bar input{
  height:50px;
  border:none;
  outline:none;
  border-radius:40px;
  padding-left:25px;
  color:#626262;
  background:#faedcd;
  font-size:18px;
}

.search-bar img{
  width:50px;
  padding:15px;
  border-radius:50%;
  background:#faedcd;
  cursor:pointer;
}

.weather-icon{
  width:150px;
  margin:30px 0;
}

.temperature{
  color: #fff;
  font-size:80px;
  line-height:1;
}

.location{
  color:#fff;
  font-size:40px;
}

.data-weather{
  width:100%;
  margin-top: 40px;
  color: #fff;
  display:flex;
  justify-content:space-between;
}

.data-weather .column{
  display:flex;
  align-items:center;
  gap:12px;
  font-size:22px;
}

.data-weather .span{
display:block;
font-size:16px;
}

.data-weather .column .img{
  width:15px;
  margin-top:10px;
  height:5%;
}

.small-icon{
  width: 30px; /* Set width */
  height: 30px; /* Set height */
  object-fit: contain; /* Ensures the image maintains its aspect ratio */
  margin-right: 10px;
}